Source: org.gnome.FileRoller
Section: x11
Priority: optional
Maintainer: elementary, Inc. <builds@elementary.io>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.1.1
Homepage: https://github.com/elementary/fileroller

Package: org.gnome.FileRoller
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}, flatpak
Breaks: file-roller, io.elementary.contractor.file-roller
Replaces: file-roller, io.elementary.contractor.file-roller
Description: File Roller flatpak'd for elementary OS
 Installs Rile Roller from AppCenter and its associated Contractor extensions
