#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	dh_install io.elementary.contractor.file-roller-extract-here.contract /usr/share/contractor/
	dh_install io.elementary.contractor.file-roller-compress.contract /usr/share/contractor/
